.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  min-height: 300px;
  width: 200px;

  @media screen and (max-width: 1024px) {
    min-height: 340px;
    width: 230px;
  }

  @media screen and (max-width: 447px) {
    min-height: 500px;
    width: 340px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #a79e95;
  }
  100% {
    background-color: hsla(204, 20%, 95%, 0.187);
  }
}
